.countries-table-container {
    height: calc(100vh - 80px);
    overflow-y: auto;
    background-color: #f4f4ec;

    .row {
        &:hover {
            cursor: pointer;
            background-color: #f9fafb;
        }
    }
}