<div>
    <p-dropdown [options]="regions()" optionLabel="name" optionValue="name" [(ngModel)]="selectedRegion" placeholder="Select a Region" (onChange)="onRegionChange()"></p-dropdown>
</div>

<p-table [columns]="cols"
           [value]="countryInfo()"
           [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header"
                 let-columns>
      <tr>
        <th *ngFor="let col of columns">{{ col.header }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-rowData
                 let-columns="columns">
      <tr class="row">
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
